.searcher {
	position: relative;
	z-index: 10;
}

.searcher__search-term {
	font-size: 16px;
	background-color: transparent;
	border: none;
	width: 100%;
	outline: none;
	border-bottom: 1px solid var(--color-alfa);
	line-height: 30px;
}

.searcher__results {
	position: absolute;
	background-color: var(--color-foxtrot);
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	max-height: 520px;
	overflow-y: auto;
	box-shadow: 2px 26px 31px -2px rgba(0,0,0,0.95);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.searcher__result {
	display: inline-block;
	margin-bottom: 15px;
	width: 24%;
}

.searcher__result .mini-card {
	width: 100%;
}
