.tvshow-card {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
	text-decoration: none;
	color: var(--color-bravo);
}

.tvshow-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.tvshow-card__footer {
	margin: 10px 5px 10px 10px;
	position: relative;
}

.tvshow-card__info {
	display: inline-block;
	margin-left: 15px;
}

.tvshow-cart__rating {
	bottom: 10px;
	position: relative;
}

.tvshow-card__title,
.tvshow-card__date {
	display: block;
}

.tvshow-card__title {
	font-size: 16px;
	font-weight: bold;
}

.tvshow-card__date {
	color: var(--color-charlie);
	font-size: 14px;
}

.tvshow-card__favorite-icon {
	cursor: default;
	position: absolute;
	right: 5px;
	top: 8px;
}

.tvshow-card__poster-image {
	width: 100%;
}
