.layout-app {
	background-color: var(--color-foxtrot);
	color: var(--color-bravo);
}

.layout-app__main {
	margin: 20px 10% 0 10%;
	min-height: 900px;
}

.layout-app__title-container {
	background-color: var(--color-delta);
	padding: 15px 10% 15px 10%;
	display: flex;
	justify-content: space-between;
}

.layout-app__title {
	text-decoration: none;
	color: var(--color-echo);
	font-size: 32px;
	font-weight: 600;
}

.layout-app__search-container {
	padding: 5px 10% 15px 10%;
}

.layout-app[data-thememode="dark"] {
	background-color: var(--color-delta);
}
