.tvshow-detail__main-info {
	display: flex;
	justify-content: space-between;
}

.tvshow-detail__info-container {
	width: 60%;
}

.tvshow-detail__poster {
	margin-right: 40px;
	width: 40%;
}

.tvshow-detail__name {
	font-size: 38px;
	margin: 0 0 5px 0;
}

.tvshow-detail__year {
	font-size: 24px;
	color: var(--color-golf);
}

.tvshow-detail__rating {
	margin-left: 30px;
	position: relative;
	bottom: 3px;
}

.tvshow-detail__overview-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
}

.tvshow-detail__overview-label {
	margin: 0;
}

.tvshow-detail__overview-description {
	margin-top: 10px;
}

.tvshow-detail__separator {
	margin-top: 30px;
}

.tvshow-detail .mini-card {
	text-decoration: none;
	color: var(--color-bravo);
	margin-bottom: 10px;
	width: 150px;
	margin-right: 15px;
}

