.season-detail__header {
	margin-bottom: 20px;
}

.season-detail__season-name {
	display: inline;
	font-size: 38px;
	margin-right: 20px;
}

.season-detail__season-date {
	font-size: 18px;
	color: #666666;
}

.season-detail__tvshow-name {
	display: block;
	font-size: 24px;
}

.season-detail__episodes .episode-card {
	width: 32%;
	margin-bottom: 25px;
	display: inline-block;
	margin-right: 6px;
}

@media screen and (max-width: 1000px) {
	.season-detail__episodes .episode-card {
		width: 48%;
	}
}
