.theme-mode-switch {
	display: flex;
	align-items: center;
}

.theme-mode-switch__icon {
	display: inline-block;
	fill: #fff;
}

.theme-mode-switch__control {
	position: relative;
	width: 50px;
	margin: 0 10px 0 10px;
	background-color: var(--color-golf);
	border-radius: 15px;
	height: 24px;
	display: flex;
	align-items: center;
}

.theme-mode-switch__button {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #fff;
	margin: 0 2px 0 2px;
	cursor: pointer;
}

[data-thememode="dark"]
.theme-mode-switch__control {
	flex-direction: row-reverse;
}
