.home-view__type-selector {
	margin-bottom: 24px;
}

.home-view__selector-link {
	color: var(--color-alfa);
	font-size: 24px;
	font-weight: 500;
	margin-right: 30px;
	text-decoration: none;
}

.home-view__selector-link--selected {
	text-decoration: underline;
}

.home-view__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home-view__grid .tvshow-card {
	width: 48%;
}
