
.episode-card {
	border: 1px solid #acb2b7;
	position: relative;
}

.episode-card__info {
	margin: 10px 15px 10px 15px;
}

.episode-card__row {
	margin-bottom: 10px;
	line-height: 14px;
	position: relative;
}

.episode-card__media {
	width: 100%;
}

.episode-card__date {
	color: #666666;
	font-size: 14px;
}

.episode-card__date {
	margin-left: 10px;
}

.episode-card__rating {
	margin-left: 15px;
	position: absolute;
	bottom: 1px;
	right: 0;
}

.episode-card__title {
	display: inline-block;
}

.episode-card__number {
	color: #666666;
	font-size: 12px;
}

.episode-card__name {
	font-size: 16px;
	font-weight: bold;
}
.episode-card__name--not-released {
	color: #666666;
}

.episode-card__overview-link {
	text-align: center;
	color: #666666;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	right: 0;
}

.episode-card__overview-link:hover {
	text-decoration: underline;
}

.episode-card__overview-panel {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	opacity: 0.95;
	overflow-y: auto;
}

.episode-card__overview-content {
	font-size: 14px;
	padding: 5px 10px 5px 10px;
}
