:root {
	--color-alfa: #868E91;
	--color-bravo: #000000;
	--color-charlie: #666666;
	--color-delta: #081c24;
	--color-echo: #01D277;
	--color-foxtrot: #ffffff;
	--color-golf: #acb2b7;
}

[data-thememode="dark"] {
	--color-alfa: #ffffff;
	--color-charlie: #ffffff;
	--color-bravo: #ffffff;	
	--color-foxtrot: #000000;
}

a {
	text-decoration: none;
	color: var(--color-bravo);
}
